{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qbank_columnsortorder/columnsortorder.mustache

    Admin question bank setting template.

    Context variables required for this template:
    * name - plugin name

    Example context (json):
    {
        "name": "createcourse"
    }
}}

{{#str}}qbanksortdescription, qbank_columnsortorder{{/str}}
<br>
<br>
<div class="list list-group" id="sortable">
    {{#names}}
        <div class="item list-group-item list-group-item-action">
            {{>core/drag_handle}}
                {{name}}
                <div class="d-none">
                    <span class="retrievable">
                        {{hiddenname}}
                    </span>
                </div>
        </div>
    {{/names}}
</div>
<br>
{{{captionredirect}}}
