{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/local/filter/range

    Moodle template for range filter.

    Context variables required for this template:
    * placeholderone - Placeholder for first range input
    * placeholdertwo - Placeholder for second range input (optional).
    * type - Type of input desired, by default text.
    * initialvalueone - Initial desired value, may be supplied from url for first range input (optional)
    * initialvaluetwo - Initial desired value, may be supplied from url for second range input (optional)

    Example context (json):
    {
        "placeholderone": "First range value",
        "placeholdertwo": "Second range value",
        "type": "date",
        "initialvalueone": "123",
        "initialvaluetwo": "456"
    }
}}
<div class="row">
    <div class="col">
        <input class="form-control mb-1" type={{type}} id="rangeValue1" placeholder="{{placeholderone}}" value={{initialvalueone}}>
    </div>
    {{#placeholdertwo}}
    <div class="col">
        <input class="form-control" type={{type}} id="rangeValue2" placeholder="{{placeholdertwo}}" value={{initialvaluetwo}}>
    </div>
    {{/placeholdertwo}}
</div>
